{% extends 'blog/base.html' %}
{% block title %}change password{% endblock %}
{% block content %}
	{% if user.is_authenticated %}
		<form class="edit_profile" method="post" action={% url 'changepassword' %}>
			{% csrf_token %}
			Old Password<input type='text' value='' name='oldpass' required/><br />
			New Password<input type='text' value='' name='newpass' required/><br />
			Confirm Password<input type='text' value='' name='confirmpass' required/><br />
			<input type='submit' value='Change password'>
		</form>
	{% endif %}
	{% if not user.is_authenticated %}
		Login required
	{% endif %}
{% endblock %}