{% block title %}<h1>My Blogs</h1>{% endblock %}
{% block content %}
	<table>
	<tbody>
	{% for blog in blogs %}
		<tr style="border: 1px solid black;">
		<tr><th><b>Title</b></th><td>{{ blog.title }}</td><th><b>Category</b></th><td>{{ blog.category.name }}</td></tr>
		<tr><th><b>Description</b></th><td>{{ blog.description }}</td></tr>
		<tr><th><b>Actions</b></th><td><a href="{% url 'viewblog' blog.id %}">View</a>&nbsp&nbsp<a href="{% url 'editblog' blog.id %}">Edit Blog</a>&nbsp&nbsp<a href="{% url 'deleteblog' blog.id %}">Delete Blog</a>&nbsp&nbsp<a href="{% url 'rating' blog.id %}">Rate Our Blog</a>&nbsp&nbsp<a href="{% url 'comment' blog.id %}">Give comment</a></td></tr>
		</tr>
	{% endfor %}		
	</tbody>
	</table>
	

{% endblock %}
